* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgb(58, 58, 58);
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-rendering: optimizeLegibility;
}

/* HEADER */

.main-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 20px;
  width: auto;
}

.main-header ul {
  list-style: none;
}

.main-header li {
  display: inline-block;
}

.main-header a:link,
.main-header a:visited {
  color: rgb(107, 107, 107);
  text-decoration: none;
  transition: color 0.2s;
}

.main-header a:hover,
.main-header a:active {
  color: rgb(54, 54, 54);
}

.header-start {
  flex-grow: 1;
  margin: 15px 25px;
}

.header-start img {
  margin-left: 20px;
  padding-bottom: 3px;
}

.header-search {
  display: flex;
  flex-grow: 2;
  margin-top: 10px;
}

.header-search input {
  height: 35px;
  width: 50%;
  padding: 5px 15px;
  border: 1px solid rgb(194, 194, 194);
  font-size: 70%;
}

.header-search a.search:link,
.header-search a.search:visited {
  height: 35px;
  width: 60px;
  padding: 5px 15px;
  background-color: rgb(241, 241, 241);
  color: rgb(107, 107, 107);
  border: 1px solid rgb(194, 194, 194);
  transition: color 0.2s border 0.2s;
}

.header-search a.search:hover,
.header-search a.search:active {
  color: rgb(54, 54, 54);
  border: 1px solid rgb(173, 173, 173);
}

.header-search a:last-child {
  padding-top: 5px;
  margin-left: 10px;
}

.header-menu {
  margin-top: 15px;
}

.header-menu li {
  margin-right: 25px;
}

/* CONTENT */

.content {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(245, 245, 245);
  padding: 10px 80px;
}

.video {
  flex-grow: 3;
}

.player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.description {
  font-size: 60%;
}

.description h2 {
  margin: 10px 0;
  font-weight: 400;
}

.suggestions {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.thumbnail {
  margin-bottom: 10px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 10px;
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
  font-size: 60%;
  font-weight: 700;
  padding: 5px 10px;
  margin-right: 5px;
  color: rgb(107, 107, 107);
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  background-color: rgb(209, 209, 209);
}

.breadcrumbs a:first-child:link,
.breadcrumbs a:first-child:visited {
  color: rgb(228, 228, 228);
  background-color: rgb(107, 107, 107);
  transition: background-color 0.2s;
}

.breadcrumbs a:first-child:hover,
.breadcrumbs a:first-child:active {
  background-color: rgb(133, 133, 133);
}

.single-suggestion {
  display: flex;
  font-size: 50%;
}

.single-suggestion .info {
  margin-left: 5px;
}

.single-suggestion h3 {
  margin-bottom: 5px;
}
